.membership-section {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-right: 51px;
    padding-left: 51px;
    margin-top: 84px;
  }
  .primary-button {
    flex: 0 0 auto;
    border: none;
    border-radius: var(--border-radius-50);
    font: var(--font-weight-700) var(--font-size-16) "Poppins";
    background: var(--color-darkviolet-b276940);
    box-sizing: border-box;
    display: block;
    align-self: stretch;
    width: 328px;
    min-width: 328px;
    height: 66px;
    color: var(--color-white);
    cursor: pointer;
    box-shadow: 0px 9px 14px rgba(255, 141, 77, 0.2);
  }
  .member-text-bold {
    flex: 0 0 auto;
    font: var(--font-weight-600) var(--font-size-14) "Manrope";
    margin-top: 15px;
    color: var(--color-darkslategrey-e2e94b46);
    white-space: pre-wrap;
  }
  