.central-content-container {
    background: var(--color-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 91px;
    padding-bottom: 102px;
  }
  .squad-card {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    justify-content: flex-start;
    padding-right: 96px;
    padding-left: 94px;
  }
  .squad-logo {
    flex: 0 0 auto;
    border: none;
    border-radius: var(--border-radius-100);
    box-sizing: border-box;
    display: block;
    width: 125px;
    max-width: initial;
    height: 111px;
    object-fit: cover;
  }
  .retro-text-heading {
    flex: 0 0 auto;
    font: var(--font-weight-400) var(--font-size-16) "Press Start 2P";
    align-self: stretch;
    margin-top: 12px;
    color: var(--color-black);
    text-align: center;
    white-space: pre-wrap;
  }
  