/* These are Kombai generated variables */
:root {
    --color-white: rgba(255, 255, 255, 1);
    --color-black: rgba(0, 0, 0, 1);
    --color-darkviolet-b276940: rgba(122, 0, 230, 1);
    --color-darkslategrey-e2e94b46: rgba(56, 55, 55, 1);
    --font-size-16: 16px;
    --font-size-14: 14px;
    --font-weight-400: 400;
    --font-weight-700: 700;
    --font-weight-600: 600;
    --border-radius-100: 100px;
    --border-radius-50: 50px;
  }
  