.vertical-align-image-container {
  /*flex: 0 0 auto;*/
  /*align-self: stretch;*/
  /*margin-top: 65px;*/
  height: 150px;
  border-radius: 10px;
}
.image-container {
  height: 600px;
  width: 490px;
  border-radius: 30px;
}
